<template name="hello">
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>      
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand logo" href="#myPage">SunnyDeck</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#ourwork">OUR WORK</a></li>
        <li><a href="#pricing">PRICING</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#search"><img src="searchicon.png">
</a></li>
      </ul>    
    </div>
  </div>
</nav>
<div>
    
    </div>

    <div class="navbar-header">
       
    </div>


  <!-- Container (About upper Section) -->
<div class="bgu">
<div class="container-fluid">
  <div class="row">
       <div class="bguin">
           <h3>“I am not the same, having seen the moon shine on the other side of the world.” – Mary Anne Radmacher</h3>
      </div>

    </div> 
    </div>
    </div>
    
    
    <!-- our work -->
<div id="ourwork" class="container-fluid text-center bg-grey">
  <h1 style="color:black;">Our Work</h1><br>
  <h4>We love to showcase our work.</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail greyimg">
          <a href="gallery1.html"><img src="delhi.jpg" alt="Delhi" width="400" height="300"> </a>
        <p><strong>New Delhi</strong></p>
        <p>We got you in Delhi.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail greyimg">
        <img src="noida.jpg" alt="Noida" width="400" height="300">
        <p><strong>Noida</strong></p>
        <p>We got you in Noida.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <div class="thumbnail greyimg">
        <img src="more.jpg" alt="India" width="400" height="300">

        <p><strong>More</strong></p>
        <p>And many more cities are coming.</p>
      </div>
    </div>
  </div><br>
    </div>
    </div>
    
        
<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>You still have to pay for awesomeness</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>One BHK</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Things</p>
          <p><strong>15</strong> Things</p>
          <p><strong>5</strong> THings</p>
          <p><strong>2</strong> Things</p>
          <p><strong>Things</strong> Things</p>
        </div>
        <div class="panel-footer">
          <h3>price</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Two BHK</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Things</p>
          <p><strong>25</strong>THings</p>
          <p><strong>10</strong> Things</p>
          <p><strong>5</strong> Things</p>
          <p><strong>Things</strong>Things</p>
        </div>
        <div class="panel-footer">
          <h3>price</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Three BHK</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Things</p>
          <p><strong>50</strong> Things</p>
          <p><strong>25</strong> Things</p>
          <p><strong>10</strong>Things</p>
          <p><strong>things</strong> things</p>
        </div>
        <div class="panel-footer">
          <h3>price</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>    
  </div>
</div>


    <div class ="text">
  <div class="bgu2">     
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2 style="color: deepskyblue;">SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cutlery logo-small"></span>
      <h4>Free Breakfast</h4>
      <p>It is on the house.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Love from the bottom of our heart.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cd logo-small"></span>
      <h4>House parties</h4>
      <p>We will be having all the fun in the world.</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-map-marker logo-small"></span>
      <h4>Pick up and drop facilities</h4>
      <p>Believe me you will be needing this.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-plane logo-small"></span>
      <h4>Travel assistance</h4>
      <p>Yes, we are here for you as well.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-tint logo-small"></span>
      <h4>Laundry and dry cleaning</h4>
      <p>To make you feel at home.</p>
    </div>
  </div>
</div>
    </div>
    </div>
    
    
<!-- Container (About Section) -->
<div class="bg">
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2 style="color: white;">About Bunkin</h2><br>
      <h4 style="color:white;">We are India’s first Branded PG chain, who is driving to revolutionize the PG market in India. The concept of BunkIn was incorporated due to low standards of living, and poor quality of food and other basic essentials that are required for every traveler who is looking for an economical stay. We primarily focus on the predictability factor, when it comes to the property. We make sure that the images the customer views on our website are exactly what he/she sees in reality. BunkIn is a very customer oriented company which makes sure that the clients are happy and not regretting our services.</h4><br>
      <p style="font-family: 'Bubbler One', sans-serif; font-size:25px;">The idea of BunkIn was born as a result of frustration and an inspiration. "Frustration", because of having heard and undergone the horrors of a PG/Hostel and still being clueless on the way to go about finding the right accommodation. "Inspiration", as we knew that we could truly add value and caters to this inherent need. We found that the most lucrative way to address this need was through a concoction of Technology, and through significant amount of offline endeavors to develop the PG’s/ Hostels. We have a very holistic approach towards our customers.</p>
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-home logo"></span>
    </div>
  </div>
</div>
</div>

    

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
        <span class="glyphicon glyphicon-flash logo slideanim"></span>
    </div>

    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> Our mission is to change the whole system about the visitors entering a city. They have to face lot of problems and issues , so here in BUNKIN we are trying to solve few of their problems , problems associated to housing. And our key is HONESTY </h4><br>
      <p><strong>VISION:</strong> Our vision is to cover every city and in the process we want to serve each and every person which is entering a new city. Thats not easy but it we have a vision and we are gonna achieve it.</p>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Kalkaji, South Delhi</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91-9581272755</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Bunkin.homes@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
      <!--
      mailto:info@bunkinhostels.com?subject=Enquiry%20BunkinHostels%20via%20Website%20Contact%20Form
      -->
        <div class="col-sm-12 form-group">
        <a href="mailto:info@bunkinhostels.com?subject=Enquiry%20BunkinHostels%20via%20Website%20Contact%20Form">
          <button class="btn btn-default pull-right" type="submit">Send</button>
          </a>
            <a href="tc.html">Terms & Condition</a>
            <br>        
            <a href="guest.html">Guest Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<footer class="container-fluid text-center">
    
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span></a>
  </footer>
</template>
